# Environnement virtuel
venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Secrets (⚠️ NE JAMAIS COMMITER)
.env

# Base de données locale
database.db
*.db
instance/

# Système
.DS_Store
Thumbs.dbinit_render.py
init_neon.py
init_render.py